<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список читателей</title>
</head>
<body>
<h1>Список всех читателей</h1>
<hr>
<div th:each="customer : ${customers}">
    <a th:href="@{/customers/{id}(id=${customer.getId()})}"
       th:text="${customer.getName() + ', ' + customer.getBirthYear()}">user</a>
</div>

<br/>
<hr/>



<form th:method="GET" th:action="@{/customers/new}">
    <input type="submit" value="Добавить нового читателя"/>
</form>

<br/>
<hr>
<a th:href="@{/books}"
   th:text="'Показать список книг----->'">books</a>


</body>
</html>